%h1= title
%textarea.text-left#check_text_area{cols: '70', rows: '15', style: 'width: 800px; height: 400px; margin: 20px auto;'}
%br
%input.btn.btn-lg.btn-info#check{type: 'button', value: 'submit'}

%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'}
%script{src: 'controller'}
