%h1= title
%textarea#check_text_area{cols: '70', rows: '15'}
%br
%input.btn.btn-info#check{type: 'button', value: 'submit'}

%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'}
%script{src: 'controller'}
