!!!
%html
  %head
    %title= title
    %link{href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel: "stylesheet"}
  %body.container
    .row
      #contents.col-md-10!= contents

%script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'}
%script{src: '../controller'}
